* {                                                             /*Se utilizo para asignar algunos margenes y para redondear los bordes de la imagen*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 30px;
}



body{                                                           /* Cuerpo de la pagina*/

    font-family: 'Times New Roman', Times, serif;               /* Se agrego un tipo de letra a todo el texto en la pagina */
    background-image: url("./Fondo.png");    /* Se inserto una imagen como fondo*/
    background-repeat: no-repeat;                               /* Se especifica que el fondo no se repita*/
    background-position: center center;                         /*Se indica la posicion del fondo*/
    height: 500px ;                                             /* Se especifica la altura */
    min-height: 100%;                                           /* Se especifica la altura minima */
    background-attachment: fixed;                               /* Se especifica que cuando se de scroll para arriba o para abajo el fondo no se mueva*/
    background-size: cover;                                     /* Se especifica que el fondo abarque todo el espacio*/

}
.imagen{                                                        /* Imagen que se inserto*/

    
    padding-left: 1220px;                                       /* Se especifica que la imagen se ubica hacia la derecha*/
    margin-top: 0%;                                             /* Se especifica cuanto debe estar separado de la parte superior*/
    
}


.form-login{                                                    /* Formulario*/

    width: 400px;                                               /* Se especifica el ancho*/
    height: 400px;                                              /* Se especifica la altura*/
    background: white;                                        /* Se especifica el color de fondo*/
    margin: auto;                                               /* Se especifica el margen*/
    margin-top: 5px;                                            /* Se especifica el margen superior*/
    box-shadow: 7px 13px 37px #0000ff;                        /* Se agrega una sobre a una caja se especifica sus medidas y su color*/  
    padding: 30px 20px;                                         /* Se especifica su espacio de relleno*/
    border-top: 1px solid #00b7ff;                            /* Se agraga un borde se especifica sus medidas y su color*/
    color:black;                                              /* Se especifica el color de letra*/  

}

.form-login h1{                                                 /* Titulo que se encuentra dentro del formlario*/

    margin: 0;                                                  /* Se especifica el margen*/
    text-align: center;                                         /* Se especifica la alineacion del texto*/
    height: 40px;                                               /* Se especifica la altura*/
    margin-bottom: 30px;                                        /* Se especifica el margen inferior*/
    border-bottom: 1px solid;                                   /* Se especifica el borde y sus medidas */
    font-size: 20px;                                            /* Se especifica el tamaño de la letra*/
}


.controls{                                                      /* Son las cajas donde se ingresan los datos*/

width: 100%;                                                    /* Se especifica el ancho*/
border: 3px solid rgb(0, 195, 255);                           /* Se especifica el ancho del borde y su color*/  
border-radius: 10px;                                            /* Se especifica que se redondee el borde*/
margin-bottom: 15px;                                            /* Se especifica el margen inferior*/
padding: 11px 10px;                                             /* Se especifica su espacio de relleno*/
background:skyblue;                                           /* Se especifica el color de fondo*/  
font-size: 14px;                                                /* Se especifica el tamaño de letra*/
font-weight: bold;                                              /* Se especifica el grosor de fuente*/
}

.buttons{                                                       /* Es el boton de ingresar*/        

    width: 100%;                                                /* Se especifica el ancho*/
    height: 40px;                                               /* Se especifica la altura*/
    background: rgb(0, 195, 255);                             /* Se especifica el color de fondo*/
    border: none;                                               /* Se especifica que no tenga border*/
    border-radius: 10px;                                        /* Se especifica que los bordes del boton se redondeen*/
    color:white;                                              /* Se especifica el color de letra*/
    margin-bottom: 16px;                                        /* Se especifica el margen inferior*/
}

.form-login p{                                                  

    height: 40px;                                               /* Se especifica la altura*/
    text-align: center;                                         /* Se especifica la alineacion del texto*/
    border-bottom:1px solid;                                    /* Se especifica el borde y sus medidas */
}

.form-login a{                                                  /* Se refiere al texto has olvidado tu pin*/

    color:black;                                              /* Se especifica el color de letra*/
    text-decoration: none;                                      /* Se especifica que no debe tener decoracion el texto*/
    font-size: 14px;                                            /* Se especifica el tamaño de la letra*/
}

.form-login a:hover{                                            /* se refiere al texto has olvidad tu pin*/

    text-decoration: underline;                                 /*Se especifica que al situar el mouse sobre el texto aparezca subrayado*/
}






